<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titolo}">Singolo</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	<table class="table table-borderless">
		<tr>
			<th>Id</th>
			<th>Titolo</th>
			<th>Descrizione</th>
			<th>Anno Pubblicazione</th>
			<th>Durata</th>
			<th>Regista</th>
			<th>Attori</th>
			<th>Generi</th>
		<tr>
			<td th:text="${film.id}"></td>
			<td th:text="${film.titolo}"></td>
			<td th:text="${film.descrizione}" style="max-width: 17.5vw;"></td>
			<td th:text="${film.annoPubblicazione}"></td>
			<td th:text="${film.durata}"></td>
			<td th:text="${film.regista}"></td>
			<td th:text="${film.attori}" style="max-width: 17.5vw;"></td>
			<td th:text="${film.generi}" style="max-width: 17.5vw;"></td>
		</tr>
	</table>
</body>
</html>